<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FTNL_YT</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body style="background: #0e0e10;">
    <div class="row">
        <div class="col">
            <div class="d-xxl-flex justify-content-xxl-start align-items-xxl-center" style="height: 103px;color: rgb(33, 37, 41);background: #18181B;">
                <div class="row">
                    <div class="col"><img height="103px" width="103px" src="/assets/img/ftnl_cls.png"></div>
                    <div class="col text-center d-xxl-flex justify-content-xxl-center align-items-xxl-center">
                        <h1 style="color: #F6F6F6;">FTNL</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center;color: rgb(246,246,246);">
            <h1 class="display-2">Mes images</h1>
        </div>
    </div>
    <hr style="margin: 1%;">
    <section id="sectionImages" class="m-auto" style="width: 90%;">

    </section>
    <hr style="margin: 1%;">

    <p style="display: none" aria-hidden="true" id="imgs">{{{ images }}}</p>
    <script src="/assets/js/gallery.js"></script>

    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>