<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FTNL_YT</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background: #0e0e10;">
    <div class="row">
        <div class="col">
            <div class="d-xxl-flex justify-content-xxl-start align-items-xxl-center" style="height: 103px;color: rgb(33, 37, 41);background: #18181B;">
                <div class="row">
                    <div class="col"><img height="103px" width="103px" src="assets/img/ftnl_cls.png"></div>
                    <div class="col text-center d-xxl-flex justify-content-xxl-center align-items-xxl-center">
                        <h1 style="color: #F6F6F6;">FTNL</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center;color: rgb(246,246,246);">
            <h1 class="display-2">Mes images</h1>
        </div>
    </div>
    <hr style="margin: 1%;">
    <section class="m-auto" style="width: 90%;">
        <div class="row" style="margin-right: 1%;margin-left: 1%;">
            <div class="col d-flex d-xxl-flex flex-column justify-content-xxl-center align-items-xxl-center" style="padding: 1%;">
                <div class="d-flex flex-column justify-content-xxl-center align-items-xxl-center" style="color: rgb(33, 37, 41);background: #18181B;border-radius: 18px;"><img class="img-fluid" src="assets/img/ftnl_cls.png" style="max-width: 100%;width: 100%;" loading="lazy">
                    <h2 style="color: rgb(246,246,246);max-height: 100%;">Image1.png</h2>
                </div>
            </div>
            <div class="col d-flex d-xxl-flex flex-column justify-content-xxl-center align-items-xxl-center" style="padding: 1%;">
                <div class="d-flex flex-column justify-content-xxl-center align-items-xxl-center" style="color: rgb(33, 37, 41);background: #18181B;border-radius: 18px;"><img class="img-fluid" src="assets/img/ftnl_cls.png" style="max-width: 100%;width: 100%;" loading="lazy">
                    <h2 style="color: rgb(246,246,246);max-height: 100%;">Image1.png</h2>
                </div>
            </div>
            <div class="col d-flex d-xxl-flex flex-column justify-content-xxl-center align-items-xxl-center" style="padding: 1%;">
                <div class="d-flex flex-column justify-content-xxl-center align-items-xxl-center" style="color: rgb(33, 37, 41);background: #18181B;border-radius: 18px;"><img class="img-fluid" src="assets/img/ftnl_cls.png" style="max-width: 100%;width: 100%;" loading="lazy">
                    <h2 style="color: rgb(246,246,246);max-height: 100%;">Image1.png</h2>
                </div>
            </div>
        </div>
        <div class="row" style="margin-right: 1%;margin-left: 1%;">
            <div class="col d-flex d-xxl-flex flex-column justify-content-xxl-center align-items-xxl-center" style="padding: 1%;">
                <div class="d-flex flex-column justify-content-xxl-center align-items-xxl-center" style="color: rgb(33, 37, 41);background: #18181B;border-radius: 18px;"><img src="assets/img/ftnl_cls.png" style="max-width: 100%;width: 100%;">
                    <h2 style="color: rgb(246,246,246);max-height: 100%;">Image1.png</h2>
                </div>
            </div>
            <div class="col d-flex d-xxl-flex flex-column justify-content-xxl-center align-items-xxl-center" style="padding: 1%;">
                <div class="d-flex flex-column justify-content-xxl-center align-items-xxl-center" style="color: rgb(33, 37, 41);background: #18181B;border-radius: 18px;"><img src="assets/img/ftnl_cls.png" style="max-width: 100%;width: 100%;">
                    <h2 style="color: rgb(246,246,246);max-height: 100%;">Image1.png</h2>
                </div>
            </div>
            <div class="col d-flex d-xxl-flex flex-column justify-content-xxl-center align-items-xxl-center" style="padding: 1%;">
                <div class="d-flex flex-column justify-content-xxl-center align-items-xxl-center" style="color: rgb(33, 37, 41);background: #18181B;border-radius: 18px;"><img src="assets/img/ftnl_cls.png" style="max-width: 100%;width: 100%;">
                    <h2 style="color: rgb(246,246,246);max-height: 100%;">Image1.png</h2>
                </div>
            </div>
        </div>
        <div class="row" style="margin-right: 1%;margin-left: 1%;">
            <div class="col d-flex d-xxl-flex flex-column justify-content-xxl-center align-items-xxl-center" style="padding: 1%;">
                <div class="d-flex flex-column justify-content-xxl-center align-items-xxl-center" style="color: rgb(33, 37, 41);background: #18181B;border-radius: 18px;"><img src="assets/img/ftnl_cls.png" style="max-width: 100%;width: 100%;">
                    <h2 style="color: rgb(246,246,246);max-height: 100%;">Image1.png</h2>
                </div>
            </div>
            <div class="col d-flex d-xxl-flex flex-column justify-content-xxl-center align-items-xxl-center" style="padding: 1%;">
                <div class="d-flex flex-column justify-content-xxl-center align-items-xxl-center" style="color: rgb(33, 37, 41);background: #18181B;border-radius: 18px;"><img src="assets/img/ftnl_cls.png" style="max-width: 100%;width: 100%;">
                    <h2 style="color: rgb(246,246,246);max-height: 100%;">Image1.png</h2>
                </div>
            </div>
            <div class="col d-flex d-xxl-flex flex-column justify-content-xxl-center align-items-xxl-center" style="padding: 1%;">
                <div class="d-flex flex-column justify-content-xxl-center align-items-xxl-center" style="color: rgb(33, 37, 41);background: #18181B;border-radius: 18px;"><img src="assets/img/ftnl_cls.png" style="max-width: 100%;width: 100%;">
                    <h2 style="color: rgb(246,246,246);max-height: 100%;">Image1.png</h2>
                </div>
            </div>
        </div>
    </section>
    <hr style="margin: 1%;">
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>