<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FTNL_YT</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body style="background: #0e0e10;">
    <div class="d-xxl-flex justify-content-xxl-start align-items-xxl-center" style="height: 10vh;color: rgb(33, 37, 41);background: #18181B;"><img height="103px" width="103px" src="/assets/img/ftnl_cls.png">
        <h1 style="color: #F6F6F6;">FTNL</h1>
    </div>
    <div class="d-flex flex-column justify-content-xxl-center align-items-xxl-center" style="height: 90vh;">
        <h1 class="display-3 text-center" style="text-align: center;color: #F6F6F6;">Service d'hébergement d'images<br><br>FTNL</h1>
        <h5 class="display-6 text-center" style="text-align: center;color: #F6F6F6;margin-top: 2vh;">Usage réservé à l'équipe de FTNL<br></h5>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>