<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FTNL_YT</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body style="background: #0e0e10;">
    <div class="d-xxl-flex justify-content-xxl-start align-items-xxl-center" style="height: 10vh;color: rgb(33, 37, 41);background: #18181B;"><img height="103px" width="103px" src="/assets/img/ftnl_cls.png">
        <h1 style="color: #F6F6F6;">FTNL</h1>
    </div>
    <div class="d-flex justify-content-xxl-center align-items-xxl-center" style="height: 90vh;">
        <div class="d-flex d-xxl-flex flex-column justify-content-xxl-center align-items-xxl-center" style="width: 60vh;height: 30vh;background: #18181B;border-radius: 18px;">
            <h1 style="color: #F6F6F6;">Login</h1>
            <form action="/login" method="post" style="width: 90%;">
                <div style="display: flex; flex-direction: column;">
                    <label class="form-label" style="color: #F6F6F6;margin-top: 2%;">
                        User ID
                        <input name="userid" class="form-control" type="text">
                    </label>
                    <label class="form-label" style="color: #F6F6F6;margin-top: 2%;">
                        Password
                        <input name="password" class="form-control" type="password">
                    </label>
                    <div class="d-xxl-flex justify-content-xxl-end align-items-xxl-center" style="width: 100%;margin-top: 2%;">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>